form{
    height: 25rem;
    width: 25%;
    border: black solid ;
    margin-left: 0%;
    background-color: white;
}

.form{
    align-items: center;
    margin-top: 0%;
    display: flex;
    justify-content: center;
}
body{
    margin: 0px;
    align-items: center;
    font-family: cursive;
    background-color: #e6e6e68f;

}

.Hospital{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    border-left-width: 6px;
    padding-left: 6px;
}

select{
    margin-left: 10px;
    height:30px;
    width:250px;
    border: black solid 1px;
    border-radius: 4px;
}

.border:hover,.time:hover{
    border: aqua solid;
    border-radius: 8px;
}

.time{
    margin-left: 40px;
    margin-top: 20px;
    font-family: cursive;
    border: black solid 1px;
    border-radius: 4px;
}

button{
    margin-top: 20px;
    margin-left: 09rem;
    border-radius: 4px;
    height: 25px;
    width: 100px;
}

.Appointment{
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 20px;
}